.Orders{
    text-align: center;
    max-width: 900px;
    margin: 10px auto;
}
.OrderItem{
    display: flex;
    justify-content: space-around;

}
.Wrap{
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    width: 100%;
}
.OrderItems{
    display: block;
}
.OrderItems span{
    display: inline-block;
    margin-right: 100px;
    margin-bottom: 20px;
    width: 150px;
}
.Button {
     background: crimson;
     border-radius: 5px;
     border: transparent;
     padding: 5px;
     margin: 10px;
 }
.Button:hover{
    background: darksalmon;
}